# http://editorconfig.org

# top-most EditorConfig file
root = true


# global file encoding
[*]
charset = utf-8
end_of_line = lf

# javascript
[**.{js,json}]
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# markdown files
[**.md]
trim_trailing_whitespace = false
